
.button{
	margin:30px;
	padding:5px;
	background-color: white;
  font-family:sans-serif;
  color: black;
  border: 2px solid #B22222;
}

a:hover {
 text-decoration: none;
}


.slides{
	position: relative;
	height: 400px;
  width: 100%;
}

.pic{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	object-fit: cover;

	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
}

.on{
	opacity: 1;
}

.p1{
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 20px;

	font-family:sans-serif;
	color: Brown;
	text-align: center;

}
